<h2>Dashboard Printers</h2>

<div class="flex justify-content-center flex-wrap gap-2">
    <div class="test">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <p-avatar shape="circle" />
                    <span class="font-bold">
                        {{impresora}}
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                    <!-- <div class="flex align-items-center gap-2">
                        <p-button icon="pi pi-user" rounded="true" text="true" />
                        <p-button icon="pi pi-bookmark" severity="secondary" rounded="true" text="true" />
                    </div>
                    <span class="p-text-secondary">
                        Updated 2 hours ago
                    </span> -->
                </div>
            </ng-template>

            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon p-link mr-2">
                    <span class="pi pi-cog"></span>
                </button>
            </ng-template>

            <div class="grid">
                <div class="col-6">
                    <div class="grid fila-dato">
                        <div class="col">
                            <span><small>Ubicacion:</small></span><br>
                            <small><strong>Edificio de Gobierno - Informatica</strong></small>
                        </div>
                    </div>
                    <div class="grid fila-dato">
                        <div class="col-6">
                            <span><small>Modelo:</small></span><br>
                            <small><strong>C356IF</strong></small>
                        </div>
                        <div class="col-6">
                            <span><small>Serie:</small></span><br>
                            <small><strong>2QC06969</strong></small>
                        </div>
                    </div>
                    <div class="grid fila-dato">
                        <div class="col-6">
                            <span><small>IP:</small></span><br>
                            <small><strong>10.222.17.240</strong></small>
                        </div>
                        <div class="col-6">
                            <span><small>MAC:</small></span><br>
                            <small><strong>xxxx.xxxx.xxxx</strong></small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex justify-content-center align-items-center">
                        <div>Grafico</div>
                    </div>
                </div>
            </div>


            <div>
                <div class="mb-2">
                    <span><small><strong>Contadores:</strong></small></span><br>
                </div>
                <div class="content-contadores gap-2">
                    <div class="content-contador">
                        <div class="contador-icono">
                            <small><strong>101:</strong></small>
                        </div>
                        <div class="contador-text">
                            <small>10,000,000</small>
                        </div>
                    </div>
    
                    <div class="content-contador">
                        <div class="contador-icono">
                            <small><strong>102:</strong></small>
                        </div>
                        <div class="contador-text">
                            <small>10,000,000</small>
                        </div>
                    </div>
    
                    <div class="content-contador">
                        <div class="contador-icono">
                            <small><strong>109:</strong></small>
                        </div>
                        <div class="contador-text">
                            <small>10,000,000</small>
                        </div>
                    </div>
    
                    <div class="content-contador">
                        <div class="contador-icono">
                            <small><strong>124:</strong></small>
                        </div>
                        <div class="contador-text">
                            <small>10,000,000</small>
                        </div>
                    </div>
    
                </div>
            </div>
            




        </p-panel>

    </div>
    <div class="test">


        <ul class="content">
            <li class="children">hola</li>
            <li class="children">hola2</li>
        </ul>
    </div>
    <div class="test">


        <ul class="content">
            <li class="children">hola</li>
            <li class="children">hola2</li>
        </ul>
    </div>
</div>