<p-panel>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-between flex-wrap gap-4 " [style]="{width:'100%'}">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">
            Listado de Modelos
        </span>
      </div>
      <div class="flex align-items-center gap-2">
          <p-button icon="pi pi-plus" rounded="true" outlined="true" label="Nuevo" severity="primary"/>
      </div>
    </div>
  </ng-template>

  <div *ngIf="modelList.length === 0; else table">
    <span>No hay elementos</span>
  </div>

  <ng-template #table>
    <app-table [columnTitles]="columnTitles"></app-table>
  </ng-template>

</p-panel>

<div class="container-dialog">
  <model-panel></model-panel>
</div>
